
$body-bg-color: hsl(0, 0%, 98%);
$navbar-footer-bg-color: rgba(51, 50, 61, 0.981);
$btn-bg-color: #203a4c;
$btn-bg-color-2: #005f23;
$btn-hover: #5FB4A2;
$btn-img-bg-color: #33323D;
$btn-txt-color: hsl(0, 0%, 98%);
$custom-border-color: #DCDCDE;
$font-size: .9rem;
$form-input-bg-color: #EAEAEB;
$s-y-2: 2rem 0;
$s-y-3: 3rem 0;
$transition-time: .3s;
$txt-color: hsl(200, 15%, 8%);
$links-color: #FAFAFA;
$txt-color-navbar-footer: #FAFAFA;
$links-color-hover-active: #5FB4A2;
