@import '../baseToProjects';
@import '@/assets/scss/index.scss';

#my-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#project-preview-img {
  display: flex;
  justify-content: space-between;
  padding: 2rem;

  @include tablet {

    & .static-preview-2 {
      background-image: url(../../../assets/images/projects/testimonials/desktop-preview.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      height: min(75vw, 600px);
      width: min(100%, 700px);
    }
  }

  .static-preview-1 {
    background-image: url(../../../assets/images/projects/testimonials/solution-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 1000px;
    width: clamp(150px, 100%, 300px);
  }
}