@import '@/assets/scss/index.scss';

#profile {
  @include desktop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(311px, 1fr));
    align-items: center;
    gap: 1.5rem;
    padding-top: 3rem;
  }

  #mypicture {
    background-image: url(../../../assets/images/homepage/hero-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    margin-bottom: 2rem;
    position: relative;

    @media (min-width: 468px) {
      background-size: cover;
      height: 450px;
      margin-top: 5rem;
    }

    @media (min-width: 686px) {
      background-image: url(../../../assets/images/homepage/hero-3.jpg);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: contain;
      height: 400px;
      margin: 0 1rem;
    }

    @include desktop {
      background-image: url(../../../assets/images/homepage/hero-3.jpg);
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      height: 500px;
      max-width: 600px;
      margin: 0 3rem;
    }

    a {
      font-size: .5rem;
      position: absolute;
      bottom: 0;
    }

    a:hover {
      color: green
    }

  }

  #aboutme {
    h1 {
      margin-bottom: 1rem;
    }

    p {
      line-height: 1.8rem;
    }
  }
}