@import '../../../assets/scss/index';

.projects-navbar {
  border-top: 1px solid #DCDCDE;
  border-bottom: 1px solid #DCDCDE;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -3rem;
  margin-bottom: 2rem;
  padding: 0;
  width: 100%;

  p {
    transition: $transition-time;
  }

  a {
    transition: $transition-time;
    
      h3 {
        font-size: clamp(14px, 5vw, 1.5rem);
      }
    
      p {
        font-size: 0.7rem;
        opacity: 50%;
        min-width: 110px;
      }

    &:hover {
      background-color: $custom-border-color;

      p {
        font-size: .8rem;
      }
    }
  }

  .previous-project,
  .next-project {
    width: 100%;
  }

  .custom-border {
    border-top: 1px solid $custom-border-color;
    border-bottom: 1px solid $custom-border-color;
    margin-bottom: 5rem;
  }

  .previous-link {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 100%;
    padding: 1rem;
    text-align: left;

    h3 {
      grid-column: 1;
      grid-row: 1;
    }

    p {
      grid-column: 1;
      grid-row: 2;
      justify-self: left;
      margin-left: 2rem;
    }

    .previous-icon {
      background-image: url(../../../assets/images/icons/2x/outline_arrow_back_ios_black_48dp.png);
      background-repeat: no-repeat;
      background-size: cover;
      grid-column: 1;
      grid-row: 2;
      justify-self: left;
      height: 25px;
      width: 25px;
    }
  }

  .nav-divider {
    align-self: stretch;
    background-color: $custom-border-color;
    min-height: 100%;
    min-width: .2rem;
    z-index: 21;
  }

  .next-link {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 100%;
    padding: 1rem;
    text-align: right;

    h3 {
      grid-row: 1;
    }

    p {
      grid-column: 1;
      grid-row: 2;
      justify-self: right;
      margin-right: 2rem;
    }

    .next-icon {
      background-image: url(../../../assets/images/icons/2x/outline_arrow_forward_ios_black_48dp.png);
      background-repeat: no-repeat;
      background-size: cover;
      grid-row: 2;
      grid-column: 1;
      justify-self: right;
      height: 25px;
      width: 25px;
    }
  }
}