@import '../baseToProjects';

/***********************************************
** Mobile
***********************************************/
#project-preview-img {
  display: flex;
  align-items: top;
  justify-content: space-between;
  padding: 2rem;
  
  .static-preview-1 {
    background-image: url(../../../assets/images/projects/minimalist-portfolio/minimalist-porfolio-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 1600px;
    width: clamp(150px, 100%, 380px);
  }
}

/***********************************************
** Tablet
***********************************************/
@media (min-width: 768px) {

  #project-preview-img .static-preview-2 {
    background-image: url(../../../assets/images/projects/minimalist-portfolio/minimalist-porfolio-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: min(75vw, 900px);
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }
}