@import '@/assets/scss/index.scss';

.contact-me {
  @include desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.custom-border-top {
  margin: 1rem 0;
  padding: 1.5rem 0;
}


.get-in-touch {

  @include desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .social-media {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;

    @include tablet {
      justify-content: end;
      gap: 2rem;
    }

    @include desktop {
      grid-column: 2;
    }

    svg path {
      fill: $txt-color;
      transition: $transition-time;
    }

    svg:hover>path {
      fill: $btn-hover;
      transition: $transition-time;
    }
  }
}

#contact-form {
  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  @include desktop {
    display: block;
  }

  label {
    display: block;
    font-size: .8rem;
    margin-bottom: 10px;
  }

  .name-div {
    @include tablet {
      grid-column: 1;
    }

    #name-input {
      background-color: $form-input-bg-color;
      border: none;
      border-radius: 2px;
      height: 45px;
      width: 100%;
      margin-bottom: 2rem;
      padding: 1rem;
    }
  }

  .email-div {
    @include tablet {
      grid-column: 2;
    }

    #email-input {
      background-color: $form-input-bg-color;
      border: none;
      border-radius: 2px;
      height: 45px;
      width: 100%;
      margin-bottom: 2rem;
      padding: 1rem;
    }
  }

  .message-div {
    @include tablet {
      grid-column: 1 / span 2;
    }

    #message-input {
      background-color: $form-input-bg-color;
      border: none;
      border-radius: 2px;
      height: 100px;
      width: 100%;
      margin-bottom: 2rem;
      padding: 1rem;
    }
  }

  .email-submit {
    @include tablet {
      grid-row: 3;
    }
  }

  #email-submit {
    background-color: $btn-bg-color;
    border: none;
    border-radius: 2px;
    color: $body-bg-color;
    cursor: pointer;
    height: 35px;
    width: min(50%, 210px);
    text-transform: uppercase;
    transition: $transition-time;

    &:hover {
      background-color: $btn-hover;
      transition: $transition-time;
    }
  }

  #my-form-status {
    border-radius: 3px;
    margin: 1rem;
    opacity: 0;
    text-align: center;

    &.success {
      animation: my-form-status $transition-time ease forwards;
      background-color: var(--form-status-success);
      color: $btn-txt-color;
    }

    &.error {
      animation: my-form-status $transition-time ease forwards;
      background-color: var(--form-status-error);
      color: $btn-txt-color;
    }

    @include tablet {
      grid-column: 1 / span 2;
    }
  }

  @keyframes my-form-status {
    15% {
      opacity: 1;
      pointer-events: all;
    }

    66% {
      opacity: 1;
      pointer-events: none;
    }

    100% {
      opacity: 0;
      pointer-events: none;
    }
  }
}