@import '../../../assets/scss/index.scss';


#cta {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 2rem;
    justify-content: space-evenly;
  }

  & .custom-border {
    display: none;

    @include tablet {
      display: block;
      height: 0;
      margin: auto;
      padding: 0;
      width: 100%;
    }
  }

  & h1 {
    text-align: center;

    @include tablet {
      width: 350px;
    }
  }

  .type-two-link {
    @include tablet {
      margin: 0;
      text-align: center;
    }
  }
}