@import '../../../assets/scss/index.scss';


#cta {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
  
  & .custom-border {
    display: none;
  }
  
  & h1 {
    text-align: center;
  }
}